.gameDiv {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    height: 70vh;
    width: 100vw;
    /* background-color: rgb(4, 39, 114); */
    color: #fff;
}

.answerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 70vw;
    padding: 2vh;
    color: #fff;
}

.questionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 70vw;
    background-color: var(--colour-purple-transparent);
    border-radius: 10px;
    padding: 4vh;
    border-color: var(--colour-purple);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 5vh;
}

.scoreDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 30vw;
    background-color: var(--colour-blue-transparent);
    padding: 1.5vh;
    border-radius: 10px;
    border-color: var(--colour-blue);
    border-style: solid;
    border-width: 10px;
    color: #fff;
}

.statementDiv{
    display: flex;
    flex-direction: row;
    padding: 2vh;
    border-radius: 10px;
    background: var(--colour-green-transparent);
    border-color: var(--colour-green);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 2vw;
}

.inputGame{
    border-radius: 10px;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    color: black;
    width: 10vw;
    height: 10vh;
    text-align: center;
    font-size: 2vw;
}

.newQuestionGameButton{
    padding: 2vw;
    border-radius: 10px;
    background: var(--colour-red-transparent);
    border-color:   var(--colour-red);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 2vw;
    font-size: 2vw;
}

.buttonGame{
    padding: 2vw;
    border-radius: 10px;
    background: var(--colour-orange-transparent);
    border-color: var(--colour-orange);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 2vw;
    font-size: 2vw;
}

.h2QuestionGame{
    font-size: 5vw;
}

.h3ResultAnswerGame{
    font-size: 4vw;
    margin-left: 2vw;
    text-decoration: underline;
}

.endGameDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 70vw;
    color: #fff;
    background-color: var(--colour-purple-transparent);
    border-radius: 10px;
    padding: 4vh;
    border-color: var(--colour-purple);
    border-style: solid;
    border-width: 10px;
}

.endDiv{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.endGameButton{
    padding: 2vw;
    border-radius: 10px;
    background: var(--colour-red-transparent);
    border-color: var(--colour-red);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 2vw;
    font-size: 2vw;
}

.astronaut {
    width: 20vw;
    height: 20vw;
    align-self: flex-end;
}


