.progress-page {
    display: relative;
    height: 100%;
    background-color: transparent;
    background: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 150px;
    /* background-image: '../starBackground.gif'; */
    background-color: transparent;
    background: transparent;
}

.levelButtons{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    height: 15vh;
    margin: 2%;
    background-color: transparent;
    display: flex;
    position: absolute;
    z-index: 2;
}


#levelButton-1{
    background-image: url(../images/planet-1.png);
    top: 20vh;
    left: -10vh;
}

#levelButton-2 {
    background-image: url(../images/planet-2.png);
    left: 8vh;
    top: 25vh;

}

#levelButton-3 {
    background-image: url(../images/planet-3.png);
    left: 25vh;
    top: 30vh;
    height: 25vh;
    width: 25vh;
}

#levelButton-4 {
    background-image: url(../images/planet-4.png);
    left: 50vh;
    top: 43vh;
    height: 16vh;
    width: 16vh;
}


#levelButton-5 {
    background-image: url(../images/planet-5.png);
    left: 80vh;
    height: 10vh;
    width: 10vh;
}


#levelButton-6 {
    background-image: url(../images/planet-6.png);
    left: 90vh;
    top: 55vh;
    height: 16vh;
    width: 16vh;
}

#levelButton-7 {
    background-image: url(../images/planet-7.png);
    left: 130vh;
    top: 30vh;
}

#levelButton-8 {
    background-image: url(../images/planet-8.png);
    right: 23vh;
    top: 50vh;
    height: 10vh;
    width: 10vh;
}

#levelButton-9 {
    background-image: url(../images/planet-9.png);
    right: -10vh;
    top: 70vh;
    bottom: 0vh;
    width: 40vh;
    height: 40vh;
}



#track-1{
    display: flex;
    position: absolute;
    width: 30vh;
    left: 10vh;
    bottom: 50vh;
    z-index: 1;
}

#track-2{
    display: flex;
    position: absolute;
    bottom: 40vh;
}

#track-3 {
    display: flex;
    position: absolute;
    width: 1000px;
}














/* .planets {
  display: grid;  
}

.planet-1 {
    height: 20vh;
    width: auto;
}

.planet-2 {
    height: 20vh;
    width: auto;
}

.planet-3{
    height: 20vh;
    width: auto;
}

.planet-4 {
    height: 20vh;
    width: auto;
}

.planet-5 {
    height: 20vh;
    width: auto;
}


.planet-6 {
    height: 20vh;
    width: auto;
}


.planet-7 {
    height: 20vh;
    width: auto;
}


.planet-8 {
    height: 20vh;
    width: auto;
}


.planet-9 {
    height: 20vh;
    width: auto;
} */
