.progress-page {
    display: relative;
    height: 100%;
    background-color: transparent;
    background: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 150px;
    /* background-image: '../starBackground.gif'; */
    background-color: transparent;
    background: transparent;
}

.levelButtons{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    height: 15vh;
    margin: 2%;
    background-color: transparent;
    display: flex;
    position: absolute;
    z-index: 2;
}


#levelButton-1-lock{
    background-image: url(../images/planet-1.png);
    top: 20vh;
    left: -10vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-2-lock {
    background-image: url(../images/planet-2.png);
    left: 8vh;
    top: 25vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-3-lock {
    background-image: url(../images/planet-3.png);
    left: 25vh;
    top: 30vh;
    height: 25vh;
    width: 25vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-4-lock {
    background-image: url(../images/planet-4.png);
    left: 50vh;
    top: 43vh;
    height: 16vh;
    width: 16vh;
    filter: grayscale(100%);
    z-index: 1;
}


#levelButton-5-lock {
    background-image: url(../images/planet-5.png);
    left: 80vh;
    height: 10vh;
    width: 10vh;
    filter: grayscale(100%);
    z-index: 1;
}


#levelButton-6-lock {
    background-image: url(../images/planet-6.png);
    left: 90vh;
    top: 55vh;
    height: 16vh;
    width: 16vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-7-lock {
    background-image: url(../images/planet-7.png);
    left: 130vh;
    top: 30vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-8-lock {
    background-image: url(../images/planet-8.png);
    right: 23vh;
    top: 50vh;
    height: 10vh;
    width: 10vh;
    filter: grayscale(100%);
    z-index: 1;
}

#levelButton-9-lock {
    background-image: url(../images/planet-9.png);
    right: -10vh;
    top: 70vh;
    bottom: 0vh;
    width: 40vh;
    height: 40vh;
    filter: grayscale(100%);
    z-index: 1;
}


#levelButton-1-unlock{
    background-image: url(../images/planet-1.png);
    top: 20vh;
    left: -10vh;
    z-index: 2;
}

#levelButton-2-unlock {
    background-image: url(../images/planet-2.png);
    left: 8vh;
    top: 25vh;
    z-index: 2;

}

#levelButton-3-unlock {
    background-image: url(../images/planet-3.png);
    left: 25vh;
    top: 30vh;
    height: 25vh;
    width: 25vh;
    z-index: 2;
}

#levelButton-4-unlock {
    background-image: url(../images/planet-4.png);
    left: 50vh;
    top: 43vh;
    height: 16vh;
    width: 16vh;
    z-index: 2;
}


#levelButton-5-unlock {
    background-image: url(../images/planet-5.png);
    left: 80vh;
    height: 10vh;
    width: 10vh;
    z-index: 2;
}


#levelButton-6-unlock {
    background-image: url(../images/planet-6.png);
    left: 90vh;
    top: 55vh;
    height: 16vh;
    width: 16vh;
    z-index: 2;
}

#levelButton-7-unlock {
    background-image: url(../images/planet-7.png);
    left: 130vh;
    top: 30vh;
    z-index: 2;
}

#levelButton-8-unlock {
    background-image: url(../images/planet-8.png);
    right: 23vh;
    top: 50vh;
    height: 10vh;
    width: 10vh;
    z-index: 2;
}

#levelButton-9-unlock {
    background-image: url(../images/planet-9.png);
    right: -10vh;
    top: 70vh;
    bottom: 0vh;
    width: 40vh;
    height: 40vh;
    z-index: 2;
}






















/* .planets {
  display: grid;  
}

.planet-1 {
    height: 20vh;
    width: auto;
}

.planet-2 {
    height: 20vh;
    width: auto;
}

.planet-3{
    height: 20vh;
    width: auto;
}

.planet-4 {
    height: 20vh;
    width: auto;
}

.planet-5 {
    height: 20vh;
    width: auto;
}


.planet-6 {
    height: 20vh;
    width: auto;
}


.planet-7 {
    height: 20vh;
    width: auto;
}


.planet-8 {
    height: 20vh;
    width: auto;
}


.planet-9 {
    height: 20vh;
    width: auto;
} */
