.navBar{
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
}

.navButtonProfile{
  background-image: url(./images/Background_Buttons/ProfileButtonText.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.navButtonGame{
  background-image: url(./images/Background_Buttons/GameButtonText.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.navButtonProgress{
  background-image: url(./images/Background_Buttons/ProgressButtonText.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.navButtonProfileHighlighted {
  background-image: url(./images/Background_Buttons/ProfileButtonTextYellow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 251, 0, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.navButtonGameHighlighted {
  background-image: url(./images/Background_Buttons/GameButtonYellow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.navButtonProgressHighlighted {
  background-image: url(./images/Background_Buttons/ProgressButtonTextYellow.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  text-align: center;
}
