@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --colour-bg: #012a3e;
  --colour-bg2: #52366c;
  --colour-primary: #950740;
  --colour-secondary: #e79fc4;
  --colour-tertiary: #fce30a;
  --colour-white: #fff;
  --colour-light: rgba(255, 255, 255, 0.803);
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-ms: 90%;
  --transition: 400ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bubblegum Sans", sans-serif;
  background-color: var(--colour-bg);
  color: white;
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
