@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --colour-bg: #012a3e; */
  --colour-purple: #501785;
  --colour-purple-transparent: #914dd1d2;
  --colour-green: #00621c;
  --colour-green-transparent: #00621cbe;
  --colour-pink: #e79fc4;
  --colour-pink-transparent: #e79fc4d2;
  --colour-yellow: #fce30a;
  --colour-yellow-transparent: #fce40abd;
  --colour-red: #e60000;
  --colour-red-transparent: #e60000bd;
  --colour-blue: #00a3e6;
  --colour-blue-transparent: #00a5e6be;
  --colour-orange: #ff6600;
  --colour-orange-transparent: #ff6600be;
  --colour-white: #fff;
  --colour-light: rgba(255, 255, 255, 0.803);
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-ms: 90%;
  --transition: 400ms;
}

/* html {
  scroll-behavior: smooth;
  background: url('./images/background-image.gif');
  background-repeat: no-repeat;
   background-size: cover;
} */

body {
  font-family: "Bubblegum Sans", sans-serif;
  /* background-color: var(--colour-bg); */
  color: var(--colour-light);
  line-height: 1.7;
  font-size: 3vw;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

/* .btn {
  width: max-content;
  display: inline-block;
  color: var(--colour-primary);
  padding: 0.75rem 1.2rem;
  border: 1px solid var(--colour-primary);
  cursor: pointer;
  border-radius: 0.4rem;
  transition: var(--transition);
}


.btn:hover {
  background-color: white;
  color: var(--colour-bg);
}

.btn-primary {
  background-color: var(--colour-primary);
  color: var(--colour-bg);
} */
